.continueShopping
{
    background-color: #7F0000 !important;;
    border-color: white !important;;
}

.continueShopping:hover, .continueShopping:active
{
    background-color: white !important;;
    border-color: #7F0000 !important;;
    color: #7F0000 !important;; 
}

.checkout
{
    background-color: #990000 !important;;
    border-color: white !important;;
}

.checkout:hover, .checkout:active
{
    background-color: white !important;;
    border-color: #990000 !important;;
    color: #990000!important;; 
}

.buttonBorder
{
    border-color: white !important;;
}

.basketTotal
{
    background-color: rgba(0,0,0,0) !important;;
    color:#7F0000 !important;;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.pprice
{
   vertical-align: central;
}

.fa-times-circle-o
{
    color:#7F0000 !important;;
}

h4.modal-title
{
    color: white !important;;
}
