.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    
    height: 15vh;
    width: 100%;
  
    /*Background */
    background: white;
    border-top:1px solid white;
    
    
    
}

.footer b
{
    font-size: 1.5vh;
    color: black;
}

.footer p
{
    font-size: 1.25vh;
    color: black;
}

.footer-copyright
{
    text-align: center;
    width: 100vw;
    position: fixed;
    left: 0;
    
}

.container
{
    width: 80%;
}

#location
{
    text-align: left;
    
}
#nav a
{
    color: #7F0000;
    text-align: left;
    text-decoration:underline;
}
#contact
{
    
    text-align: right;
    
}
#contact a
{
    color: #7F0000;
    text-decoration:underline;
}

#paypal
{
    text-align: center;
}

#paypal img
{
    width: 10vw;
    height: auto;
}

#social
{
    text-align: right;
}

#copyright a
{
    color: #7F0000;
    text-decoration:underline;
}


/* Tablet nav */
@media(min-width: 768px) and (max-width: 1024px)
{
    #nav
    {
        display: none;
    }
    #social
    {
        display: none;
    }
    #paypal img
    {
        padding-top: 1vh;
        width:18vw;
        height: auto;
    }
    
    .footer{
        padding-top: 2.5vw;
    }
}
    
    


/*Mobile nav */
@media(max-width: 600px) 
{
    #nav
    {
        display: none;
    }
    #social
    {
        display: none;
    }
    #copyright
    {
        display: none;
    }
    #paypal img
    {
        padding-top: 1vh;
        width:20vw;
        height: auto;
    }
  
}




