/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Feb-2017, 18:50:40
    Author     : aajoubert
*/

.btn-outline-fb {
  color: #fff;
  background-image: none;
  background-color:#3b5998 ;
  border-color: #3b5998;
}

.btn-outline-fb:hover {
  color: #3b5998;
  background-color:transparent;
  border-color: #3b5998;
}

.btn-outline-tw {
  color: #fff;
  background-image: none;
  background-color: #00aced;
  border-color: #00aced;
}

.btn-outline-tw:hover {
  color: #00aced;
  background-color: transparent;
  border-color: #00aced;
}

.btn-outline-in {
  color: #fff;
  background-image: none;
  background-color: #517fa4;
  border-color: #517fa4;
}

.btn-outline-in:hover {
  color: #517fa4;
  background-color: transparent;
  border-color: #517fa4;
}

